<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
    </system.web>
  <!--<system.webServer>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
  </system.webServer>-->
  <connectionStrings>
    <add name="sqlConnect" connectionString="Data Source=SHAW-FENE;Initial Catalog=messageBoard;Integrated Security=True"/>
  </connectionStrings>
  
</configuration>
